.home-page {
    width: 60%;
    padding: 8% 0 0;
    margin: auto;
  }

  div .card {
    position: relative;
    z-index: 1;
    background: #464646;
    max-width: 50%;
    margin: 0 auto 5%;
    padding: 2%;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  div .card p {
    font-family: 'Franklin Gothic Medium';
    outline: 0;
    background: #d3d1d1;
    width: 100%;
    border: 0;
    margin: 0 0 1%;
    padding: 1%;
    box-sizing: border-box;
    font-size: 0.8em;
  }

  div .card a {
    font-size: 0.8em;
  }

  body {
    background: #838383;
    background: -webkit-linear-gradient(right,  #F5D38F, #F5D38F);
    background: -moz-linear-gradient(right,  #f5dfb3, #F5D38F);
    background: -o-linear-gradient(right, #f5dfb3, #f5dfb3);
    background: linear-gradient(to left,  #F5D38F, #f5dfb3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
  }