{% extends 'base.html' %}
{% load static %}

    {% block 'head' %}
        <link href="{% static 'css/cadastro.css' %}" rel="stylesheet">
    {% endblock 'head' %}

    {% block 'titulo' %} Cadastre-se | Alpha {% endblock %}

    {% block 'conteudo' %}
        <br>
        {% if status == '0' %}
            <div class="alert alert-success" role="alert">
                Cadastro realizado com sucesso!
            </div>
        {% endif %}
        {% if status == '1' %}
            <div class="alert alert-danger" role="alert">
                Nome e email não podem estar vazios.
            </div>
        {% endif %}
        {% if status == '2' %}
            <div class="alert alert-danger" role="alert">
                Sua senha deve possuir pelo menos 6 caracteres.
            </div>
        {% endif %}
        {% if status == '3' %}
            <div class="alert alert-danger" role="alert">
                Usuário já existe no sistema.
            </div>
        {% endif %}
        {% if status == '4' %}
            <div class="alert alert-danger" role="alert">
                Erro interno do sistema.
            </div>
        {% endif %}
        <div class="cadastro-page">
            <div class="form">
              <form class="cadastro-form" method="POST" action= {% url 'valida_cadastro' %}>{% csrf_token %}

                <input name="nome" type="text" placeholder="nome"/>
                <input name="email" type="email" placeholder="email"/>
                <input name="senha" type="password" placeholder="senha"/>
                <input name="idade" type="number" placeholder="idade"/>

                <input type="submit" value="Cadastrar"/>

                <p class="message">Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>

              </form>
            </div>
          </div>
    {% endblock  %}
