{% extends 'base.html' %}
{% load static %}

    {% block 'head' %}
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
    {% endblock 'head' %}

    {% block 'titulo' %} Cadastre-se {% endblock %} Cadastre-se 

    {% block 'conteudo' %}
        <br>
        <div class="cadastro-page">
            <div class="form">
              <form class="cadastro-form" method = "POST">{% csrf_token %}

                <input name="nome" type="text" placeholder="nome"/>
                <input name="email" type="email" placeholder="email"/>
                <input name="senha" type="password" placeholder="senha"/>
                <input name="idade" type="number" placeholder="idade"/>
                
                <input type="submit" value="Cadastrar"/>

                <p class="message">Já tem uma conta? <a href="">Faça login</a></p>

              </form>
            </div>
          </div>
    {% endblock  %}
