{% extends 'base.html' %}
{% load static %}

    {% block 'head' %}
        <link href="{% static 'css/user.css' %}" rel="stylesheet">
    {% endblock 'head' %}

    {% block 'titulo' %} Sobre | Alpha {% endblock %}

    {% block 'conteudo' %}
        <div class="user-page">
            <br>
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Informações: </h5>
                        <p class="card-text">Nome: Lucas Moura Alcantara</p>
                        <p class="card-text">Email: lucasmoura404@gmail.com</p>
                        <p class="card-text">Idade: 22 anos</p>
                        <p class="card-text">Cidade: Rio de Janeiro</p>
                        <a href="https://github.com/LucasMAlc/Desafio-Alpha" class="card-link">re positório no github.</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock  %}
